{
  "openapi": "3.1.0",
  "info": {
    "title": "Knowledge graph",
    "version": "v1",
    "description": "The published builds of the knowledge graph, and each build's schema: its node types, its edge types and their counts. Read by the /graph page, and by the front page for its default build."
  },
  "servers": [
    {
      "url": "https://api.jefflevesque.com/v1/public"
    }
  ],
  "paths": {
    "/knowledge-graph": {
      "get": {
        "operationId": "listKnowledgeGraphs",
        "summary": "Every published build",
        "description": "The listing: every published build, newest first, and which one is served when no build is named. The ids for the call below come from here. No query parameter is accepted.",
        "responses": {
          "200": {
            "description": "Every published build, newest first, and which one is the default.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "default",
                        "graphs"
                      ],
                      "properties": {
                        "default": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "The id served when the caller names no build. The service chooses it, rather than it being implied by the order of graphs. Null when nothing is servable."
                        },
                        "graphs": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "id",
                              "label"
                            ],
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "dataset": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "period": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "The year and month the build covers, as YYYY-MM."
                              },
                              "variant": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "run": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "When the build ran, in UTC."
                              },
                              "built": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "When the build finished, in UTC."
                              },
                              "nodes": {
                                "type": [
                                  "integer",
                                  "null"
                                ],
                                "description": "Every node in the build."
                              },
                              "edges": {
                                "type": [
                                  "integer",
                                  "null"
                                ],
                                "description": "Every edge in the build."
                              },
                              "sources": {
                                "type": [
                                  "array",
                                  "null"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              },
                              "error": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Why the build cannot be served, or null when it can."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "default": "all-sources.2026-09.20260916T171546Z.1024d",
                    "graphs": [
                      {
                        "id": "all-sources.2026-09.20260916T171546Z.1024d",
                        "label": "September 2026 (all-sources, 1024d, run 2026-09-16 17:15 UTC)",
                        "dataset": "all-sources",
                        "period": "2026-09",
                        "variant": "1024d",
                        "run": "2026-09-16T17:15:46Z",
                        "built": "2026-09-16T18:39:38Z",
                        "nodes": 9982993,
                        "edges": 74831988,
                        "sources": [
                          "bls",
                          "market",
                          "noaa",
                          "sec"
                        ],
                        "error": null
                      },
                      {
                        "id": "all-sources.2026-09.20260915T050043Z.1024d",
                        "label": "September 2026 (all-sources, 1024d, run 2026-09-15 05:00 UTC)",
                        "dataset": "all-sources",
                        "period": "2026-09",
                        "variant": "1024d",
                        "run": "2026-09-15T05:00:43Z",
                        "built": "2026-09-15T06:37:02Z",
                        "nodes": 9884064,
                        "edges": 73967362,
                        "sources": [
                          "bls",
                          "market",
                          "noaa",
                          "sec"
                        ],
                        "error": null
                      },
                      {
                        "id": "all-sources.2026-09.20260913T150428Z.1024d",
                        "label": "September 2026 (all-sources, 1024d, run 2026-09-13 15:04 UTC)",
                        "dataset": "all-sources",
                        "period": "2026-09",
                        "variant": "1024d",
                        "run": "2026-09-13T15:04:28Z",
                        "built": "2026-09-13T16:22:37Z",
                        "nodes": 9444073,
                        "edges": 70696264,
                        "sources": [
                          "bls",
                          "market",
                          "noaa",
                          "sec"
                        ],
                        "error": null
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "A query string. None is accepted on either path.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "query string NOT supported"
                  }
                }
              }
            }
          },
          "500": {
            "description": "The published builds could not be listed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "graph listing unavailable"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-graph/{graph}": {
      "get": {
        "operationId": "getKnowledgeGraph",
        "summary": "One build's schema",
        "description": "That build's schema: its node types, its edge types and their counts. Ids are opaque -- take one from the listing and send it back unchanged. Builds roll and the listing keeps only the recent ones, so an id copied from this page will stop resolving; run the listing above and paste in one it gives.",
        "parameters": [
          {
            "name": "graph",
            "in": "path",
            "required": true,
            "description": "An id from the listing.",
            "schema": {
              "type": "string"
            },
            "example": "all-sources.2026-09.20260916T171546Z.1024d"
          }
        ],
        "responses": {
          "200": {
            "description": "That build's schema.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "node_types",
                        "edge_types"
                      ],
                      "properties": {
                        "version": {
                          "type": "string"
                        },
                        "build_metadata": {
                          "type": "object"
                        },
                        "node_types": {
                          "type": "object",
                          "description": "Keyed by node type.",
                          "additionalProperties": {
                            "type": "object",
                            "required": [
                              "count"
                            ],
                            "properties": {
                              "count": {
                                "type": "integer"
                              },
                              "source_type_uri": {
                                "type": "string",
                                "description": "The ontology term this node type comes from. The path after /ontology/ is the vocabulary, which is nested under the source that publishes it -- ontology/bls/cpi/Category, and ontology/<source>/enrichment/<Term> for terms derived during the build. Read the whole path rather than its first segment: the first segment names the source, and one source publishes many vocabularies."
                              },
                              "category": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "edge_types": {
                          "type": "object",
                          "description": "Keyed by an opaque label. Each names the node types it joins.",
                          "additionalProperties": {
                            "type": "object",
                            "required": [
                              "src_type",
                              "relation",
                              "dst_type",
                              "count"
                            ],
                            "properties": {
                              "src_type": {
                                "type": "string"
                              },
                              "relation": {
                                "type": "string"
                              },
                              "dst_type": {
                                "type": "string"
                              },
                              "count": {
                                "type": "integer"
                              },
                              "origin": {
                                "type": "string",
                                "enum": [
                                  "raw",
                                  "enrichment",
                                  "unification"
                                ]
                              }
                            }
                          }
                        },
                        "relation_groups": {
                          "type": "object"
                        },
                        "summary": {
                          "type": "object",
                          "properties": {
                            "total_node_types": {
                              "type": "integer"
                            },
                            "total_edge_types": {
                              "type": "integer"
                            },
                            "total_nodes": {
                              "type": "integer"
                            },
                            "total_edges": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "version": "1.3",
                    "build_metadata": {
                      "time_period": "2026-09",
                      "sources": [
                        "bls",
                        "market",
                        "noaa",
                        "sec"
                      ]
                    },
                    "node_types": {
                      "cpi_Category": {
                        "count": 322,
                        "source_type_uri": "https://jefflevesque.com/ontology/bls/cpi/Category",
                        "category": "entity"
                      },
                      "cpi_OneMonthPercentChange": {
                        "count": 2548,
                        "source_type_uri": "https://jefflevesque.com/ontology/bls/cpi/OneMonthPercentChange",
                        "category": "entity"
                      }
                    },
                    "edge_types": {
                      "(cpi_OneMonthPercentChange, cpi_hasCategory, cpi_Category)": {
                        "src_type": "cpi_OneMonthPercentChange",
                        "relation": "cpi_hasCategory",
                        "dst_type": "cpi_Category",
                        "count": 2548,
                        "origin": "raw"
                      }
                    },
                    "relation_groups": {},
                    "summary": {
                      "total_node_types": 149,
                      "total_edge_types": 822,
                      "total_nodes": 9982993,
                      "total_edges": 74831988
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The id is not shaped like one, or a query string was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "graph NOT valid, expected an id from the listing"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The id is not in the listing, or its build is no longer available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "graph all-sources.2026-09.20260916T171546Z.1024d NOT recognized, expected one of all-sources.2026-09.20260916T171546Z.1024d"
                  }
                }
              }
            }
          },
          "500": {
            "description": "The build's schema could not be read.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "graph all-sources.2026-09.20260916T171546Z.1024d schema is malformed"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-graph/tables/edge-types": {
      "get": {
        "operationId": "listKnowledgeGraphEdgeTypes",
        "summary": "The relation catalogue",
        "description": "Which links exist between which node types, and how many of each. Takes no value beyond a Limit.",
        "parameters": [
          {
            "name": "Limit",
            "in": "query",
            "required": false,
            "description": "The most rows to answer with. The service applies a ceiling of its own, so a larger value does not widen the answer.",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "The rows the question answers with, which may legitimately be empty.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "rows"
                      ],
                      "properties": {
                        "rows": {
                          "type": "array",
                          "description": "One object per row. The columns depend on the Operation.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "rows": [
                      {
                        "src_type": "filings_SECFiling",
                        "relation": "filings_hasIssuer",
                        "dst_type": "sec_enrichment_UnifiedCompany",
                        "count": 838
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "An operation the service does not offer, or a value meaningless to the one named. The rejected value is never echoed back.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "Operation NOT recognized, expected one of EdgeTypes, Find, Neighborhood, Facts"
                  }
                }
              }
            }
          },
          "404": {
            "description": "A named Day that is not a published day, or no published day at all.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "not a published day"
                  }
                }
              }
            }
          },
          "504": {
            "description": "The question was too large to answer inside the request window.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "query took too long, narrow it"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-graph/tables/find": {
      "get": {
        "operationId": "findKnowledgeGraphEntities",
        "summary": "Entities matching some text",
        "description": "Entities whose text matches, as a case-insensitive substring. Wildcards are refused, so a literal % or _ cannot widen the match.",
        "parameters": [
          {
            "name": "Text",
            "in": "query",
            "required": true,
            "description": "Required by Find. Matched as a case-insensitive substring of an entity's text. Wildcards are refused, so a literal % or _ cannot widen the match.",
            "schema": {
              "type": "string"
            },
            "example": "apple"
          },
          {
            "name": "Limit",
            "in": "query",
            "required": false,
            "description": "The most rows to answer with. The service applies a ceiling of its own, so a larger value does not widen the answer.",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "The rows the question answers with, which may legitimately be empty.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "rows"
                      ],
                      "properties": {
                        "rows": {
                          "type": "array",
                          "description": "One object per row. The columns depend on the Operation.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "rows": [
                      {
                        "src_type": "filings_SECFiling",
                        "relation": "filings_hasIssuer",
                        "dst_type": "sec_enrichment_UnifiedCompany",
                        "count": 838
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "An operation the service does not offer, or a value meaningless to the one named. The rejected value is never echoed back.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "Operation NOT recognized, expected one of EdgeTypes, Find, Neighborhood, Facts"
                  }
                }
              }
            }
          },
          "404": {
            "description": "A named Day that is not a published day, or no published day at all.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "not a published day"
                  }
                }
              }
            }
          },
          "504": {
            "description": "The question was too large to answer inside the request window.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "query took too long, narrow it"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-graph/tables/facts": {
      "get": {
        "operationId": "listKnowledgeGraphFacts",
        "summary": "The values held about one entity",
        "description": "Everything the build holds about one entity. Reads across the published window unless a Day narrows it.",
        "parameters": [
          {
            "name": "Uri",
            "in": "query",
            "required": true,
            "description": "Required by Facts and Neighborhood. The entity to read, as its uri from a Find result. Uris are stable across days, unlike the numeric ids the tables join on.",
            "schema": {
              "type": "string"
            },
            "example": "https://jefflevesque.com/ontology/unified/Company_0000001800"
          },
          {
            "name": "Day",
            "in": "query",
            "required": false,
            "description": "A published day, as YYYY-MM-DD. Required by Neighborhood, because ids are renumbered daily and an edge only means anything joined within its own day. Optional for Facts, which reads across the published window when it is omitted.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "example": "2026-09-18"
          },
          {
            "name": "Limit",
            "in": "query",
            "required": false,
            "description": "The most rows to answer with. The service applies a ceiling of its own, so a larger value does not widen the answer.",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "The rows the question answers with, which may legitimately be empty.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "rows"
                      ],
                      "properties": {
                        "rows": {
                          "type": "array",
                          "description": "One object per row. The columns depend on the Operation.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "rows": [
                      {
                        "src_type": "filings_SECFiling",
                        "relation": "filings_hasIssuer",
                        "dst_type": "sec_enrichment_UnifiedCompany",
                        "count": 838
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "An operation the service does not offer, or a value meaningless to the one named. The rejected value is never echoed back.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "Operation NOT recognized, expected one of EdgeTypes, Find, Neighborhood, Facts"
                  }
                }
              }
            }
          },
          "404": {
            "description": "A named Day that is not a published day, or no published day at all.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "not a published day"
                  }
                }
              }
            }
          },
          "504": {
            "description": "The question was too large to answer inside the request window.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "query took too long, narrow it"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-graph/tables/neighborhood": {
      "get": {
        "operationId": "listKnowledgeGraphNeighborhood",
        "summary": "The edges touching one entity, within a day",
        "description": "The edges touching one entity on one published day. The Day is required: the numeric ids the tables join on are renumbered daily, so an edge only means anything joined within its own day.",
        "parameters": [
          {
            "name": "Uri",
            "in": "query",
            "required": true,
            "description": "Required by Facts and Neighborhood. The entity to read, as its uri from a Find result. Uris are stable across days, unlike the numeric ids the tables join on.",
            "schema": {
              "type": "string"
            },
            "example": "https://jefflevesque.com/ontology/unified/Company_0000001800"
          },
          {
            "name": "Day",
            "in": "query",
            "required": true,
            "description": "A published day, as YYYY-MM-DD. Required by Neighborhood, because ids are renumbered daily and an edge only means anything joined within its own day. Optional for Facts, which reads across the published window when it is omitted.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "example": "2026-09-18"
          },
          {
            "name": "Limit",
            "in": "query",
            "required": false,
            "description": "The most rows to answer with. The service applies a ceiling of its own, so a larger value does not widen the answer.",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "The rows the question answers with, which may legitimately be empty.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "rows"
                      ],
                      "properties": {
                        "rows": {
                          "type": "array",
                          "description": "One object per row. The columns depend on the Operation.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "rows": [
                      {
                        "src_type": "filings_SECFiling",
                        "relation": "filings_hasIssuer",
                        "dst_type": "sec_enrichment_UnifiedCompany",
                        "count": 838
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "An operation the service does not offer, or a value meaningless to the one named. The rejected value is never echoed back.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "Operation NOT recognized, expected one of EdgeTypes, Find, Neighborhood, Facts"
                  }
                }
              }
            }
          },
          "404": {
            "description": "A named Day that is not a published day, or no published day at all.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "not a published day"
                  }
                }
              }
            }
          },
          "504": {
            "description": "The question was too large to answer inside the request window.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "query took too long, narrow it"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
