{
  "openapi": "3.1.0",
  "info": {
    "title": "Knowledge graph",
    "version": "v1",
    "description": "The published builds of the knowledge graph and each build's schema -- read by the Training graph, /graph, and by the front page for its default build -- and the published query tables, a day at a time, read by the Retrieval graph, /graph/retrieval."
  },
  "servers": [
    {
      "url": "https://api.jefflevesque.com/v1/public"
    }
  ],
  "paths": {
    "/knowledge-graph": {
      "get": {
        "operationId": "listKnowledgeGraphs",
        "summary": "Every published build",
        "description": "The listing: every published build, newest first, and which one is served when no build is named. The ids for the call below come from here. No query parameter is accepted.",
        "responses": {
          "200": {
            "description": "Every published build, newest first, and which one is the default.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "default",
                        "graphs"
                      ],
                      "properties": {
                        "default": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "The id served when the caller names no build. The service chooses it, rather than it being implied by the order of graphs. Null when nothing is servable."
                        },
                        "graphs": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "id",
                              "label"
                            ],
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "dataset": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "period": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "The partition the build was published under, as YYYY-MM. Not a window over its data: a build carries dates from well outside it. The day of the tables a build holds is day, from schema version 1.5."
                              },
                              "variant": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "run": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "When the build ran, in UTC."
                              },
                              "built": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "When the build finished, in UTC."
                              },
                              "nodes": {
                                "type": [
                                  "integer",
                                  "null"
                                ],
                                "description": "Every node in the build."
                              },
                              "edges": {
                                "type": [
                                  "integer",
                                  "null"
                                ],
                                "description": "Every edge in the build."
                              },
                              "sources": {
                                "type": [
                                  "array",
                                  "null"
                                ],
                                "items": {
                                  "type": "string"
                                },
                                "description": "Every source the build's run read. They need not all be in its graph: from schema version 1.4, the build's schema says which are, in build_metadata.sources_in_graph."
                              },
                              "schema_version": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "The version of the build's schema, as its schema's own version field gives it. It says which fields the build carries, here and in its schema: day, from 1.5."
                              },
                              "day": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "The day of the published tables the build holds, as YYYY-MM-DD: the Day the tables paths take to read the same day. The build's own record of it, build_metadata.day, from schema version 1.5, and null before it."
                              },
                              "error": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Why the build cannot be served, or null when it can."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "default": "all-sources.2026-09.20260916T171546Z.1024d",
                    "graphs": [
                      {
                        "id": "all-sources.2026-09.20260916T171546Z.1024d",
                        "label": "September 2026 (all-sources, 1024d, run 2026-09-16 17:15 UTC)",
                        "dataset": "all-sources",
                        "period": "2026-09",
                        "variant": "1024d",
                        "run": "2026-09-16T17:15:46Z",
                        "built": "2026-09-16T18:39:38Z",
                        "nodes": 9982993,
                        "edges": 74831988,
                        "sources": [
                          "bls",
                          "market",
                          "noaa",
                          "sec"
                        ],
                        "schema_version": "1.3",
                        "day": null,
                        "error": null
                      },
                      {
                        "id": "all-sources.2026-09.20260915T050043Z.1024d",
                        "label": "September 2026 (all-sources, 1024d, run 2026-09-15 05:00 UTC)",
                        "dataset": "all-sources",
                        "period": "2026-09",
                        "variant": "1024d",
                        "run": "2026-09-15T05:00:43Z",
                        "built": "2026-09-15T06:37:02Z",
                        "nodes": 9884064,
                        "edges": 73967362,
                        "sources": [
                          "bls",
                          "market",
                          "noaa",
                          "sec"
                        ],
                        "schema_version": "1.3",
                        "day": null,
                        "error": null
                      },
                      {
                        "id": "all-sources.2026-09.20260913T150428Z.1024d",
                        "label": "September 2026 (all-sources, 1024d, run 2026-09-13 15:04 UTC)",
                        "dataset": "all-sources",
                        "period": "2026-09",
                        "variant": "1024d",
                        "run": "2026-09-13T15:04:28Z",
                        "built": "2026-09-13T16:22:37Z",
                        "nodes": 9444073,
                        "edges": 70696264,
                        "sources": [
                          "bls",
                          "market",
                          "noaa",
                          "sec"
                        ],
                        "schema_version": "1.3",
                        "day": null,
                        "error": null
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "A query string. None is accepted on either path.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "query string NOT supported"
                  }
                }
              }
            }
          },
          "500": {
            "description": "The published builds could not be listed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "graph listing unavailable"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-graph/{graph}": {
      "get": {
        "operationId": "getKnowledgeGraph",
        "summary": "One build's schema",
        "description": "That build's schema: its node types, its edge types and their counts. Ids are opaque -- take one from the listing and send it back unchanged. Builds roll and the listing keeps only the recent ones, so an id copied from this page will stop resolving; run the listing above and paste in one it gives.",
        "parameters": [
          {
            "name": "graph",
            "in": "path",
            "required": true,
            "description": "An id from the listing.",
            "schema": {
              "type": "string"
            },
            "example": "all-sources.2026-09.20260916T171546Z.1024d"
          }
        ],
        "responses": {
          "200": {
            "description": "That build's schema.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "node_types",
                        "edge_types"
                      ],
                      "properties": {
                        "version": {
                          "type": "string",
                          "description": "The schema's version, which says which fields the rest of it carries. Check it before reading build_metadata's sources."
                        },
                        "build_metadata": {
                          "type": "object",
                          "description": "How the build was made.",
                          "properties": {
                            "sources": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "Every source the build's run read. From schema version 1.3."
                            },
                            "sources_in_graph": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "The sources whose node types reached the graph, which can be fewer than the run read. From schema version 1.4, and absent before it."
                            }
                          }
                        },
                        "node_types": {
                          "type": "object",
                          "description": "Keyed by node type.",
                          "additionalProperties": {
                            "type": "object",
                            "required": [
                              "count"
                            ],
                            "properties": {
                              "count": {
                                "type": "integer"
                              },
                              "source_type_uri": {
                                "type": "string",
                                "description": "The ontology term this node type comes from. The path after /ontology/ is the vocabulary, which is nested under the source that publishes it -- ontology/bls/cpi/Category, and ontology/<source>/enrichment/<Term> for terms derived during the build. Read the whole path rather than its first segment: the first segment names the source, and one source publishes many vocabularies."
                              },
                              "category": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "edge_types": {
                          "type": "object",
                          "description": "Keyed by an opaque label. Each names the node types it joins.",
                          "additionalProperties": {
                            "type": "object",
                            "required": [
                              "src_type",
                              "relation",
                              "dst_type",
                              "count"
                            ],
                            "properties": {
                              "src_type": {
                                "type": "string"
                              },
                              "relation": {
                                "type": "string"
                              },
                              "dst_type": {
                                "type": "string"
                              },
                              "count": {
                                "type": "integer"
                              },
                              "origin": {
                                "type": "string",
                                "enum": [
                                  "raw",
                                  "enrichment",
                                  "unification"
                                ]
                              }
                            }
                          }
                        },
                        "relation_groups": {
                          "type": "object"
                        },
                        "summary": {
                          "type": "object",
                          "properties": {
                            "total_node_types": {
                              "type": "integer"
                            },
                            "total_edge_types": {
                              "type": "integer"
                            },
                            "total_nodes": {
                              "type": "integer"
                            },
                            "total_edges": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "version": "1.3",
                    "build_metadata": {
                      "time_period": "2026-09",
                      "sources": [
                        "bls",
                        "market",
                        "noaa",
                        "sec"
                      ]
                    },
                    "node_types": {
                      "cpi_Category": {
                        "count": 322,
                        "source_type_uri": "https://jefflevesque.com/ontology/bls/cpi/Category",
                        "category": "entity"
                      },
                      "cpi_OneMonthPercentChange": {
                        "count": 2548,
                        "source_type_uri": "https://jefflevesque.com/ontology/bls/cpi/OneMonthPercentChange",
                        "category": "entity"
                      }
                    },
                    "edge_types": {
                      "(cpi_OneMonthPercentChange, cpi_hasCategory, cpi_Category)": {
                        "src_type": "cpi_OneMonthPercentChange",
                        "relation": "cpi_hasCategory",
                        "dst_type": "cpi_Category",
                        "count": 2548,
                        "origin": "raw"
                      }
                    },
                    "relation_groups": {},
                    "summary": {
                      "total_node_types": 149,
                      "total_edge_types": 822,
                      "total_nodes": 9982993,
                      "total_edges": 74831988
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The id is not shaped like one, or a query string was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "graph NOT valid, expected an id from the listing"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The id is not in the listing, or its build is no longer available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "graph all-sources.2026-09.20260916T171546Z.1024d NOT recognized, expected one of all-sources.2026-09.20260916T171546Z.1024d"
                  }
                }
              }
            }
          },
          "500": {
            "description": "The build's schema could not be read.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "graph all-sources.2026-09.20260916T171546Z.1024d schema is malformed"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-graph/tables/days": {
      "get": {
        "operationId": "listKnowledgeGraphDays",
        "summary": "Every published day",
        "description": "The days the tables hold, newest first -- every day the other tables paths may name as a Day -- each with the run that published it and when that finished. Takes no value at all, a Limit included: the answer is every published day, a year of them at most. Answered from the list the service resolves on every request, and from the marker each day's publishing writes last, so it runs no query.",
        "responses": {
          "200": {
            "description": "Every published day, newest first. Empty when none has finished publishing.",
            "headers": {
              "Cache-Control": {
                "description": "The listing's: fresh for five minutes, and usable stale for a day while a fresh one is fetched, since a day landing changes it.",
                "schema": {
                  "type": "string"
                },
                "example": "public, max-age=300, stale-while-revalidate=86400, stale-if-error=86400"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "rows"
                      ],
                      "properties": {
                        "rows": {
                          "type": "array",
                          "description": "One object per row. An empty list is an answer: the question was asked and nothing matched.",
                          "items": {
                            "type": "object",
                            "required": [
                              "day"
                            ],
                            "properties": {
                              "day": {
                                "type": "string",
                                "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
                              },
                              "run": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "The run that published the day, in UTC, written as the listing writes a build's run. It is the run of the build that holds the day."
                              },
                              "published": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "When the day finished publishing, in UTC, which is when it became readable. Not when its tables were written, which nothing records."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "rows": [
                      {
                        "day": "2026-09-23"
                      },
                      {
                        "day": "2026-09-22"
                      },
                      {
                        "day": "2026-09-21"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Any value on the query string. The days take none.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "query string NOT supported for Days, expected none"
                  }
                }
              }
            }
          },
          "500": {
            "description": "The published days could not be listed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "published days unavailable"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-graph/tables/node-types": {
      "get": {
        "operationId": "listKnowledgeGraphNodeTypes",
        "summary": "A day's node types",
        "description": "One row per node type the day holds, biggest count first: how many nodes of it there are, how many of those carry text and so can be found by name, and how many values are held about them. The Retrieval graph draws a day by its entities. Day is required: every day is written whole, so counted across days a node would be counted once for each day that holds it.",
        "parameters": [
          {
            "name": "Day",
            "in": "query",
            "required": true,
            "description": "The published day to count, as YYYY-MM-DD, from Every published day.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
            },
            "example": "2026-09-23"
          },
          {
            "name": "Limit",
            "in": "query",
            "required": false,
            "description": "The most rows to answer with: 100 when it is left out, and 1000 at most. A larger value is refused with a 400 rather than cut to the ceiling.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            },
            "example": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "The day's node types, biggest count first. About 155 on a day, so a Limit of 1000 is all of them.",
            "headers": {
              "Cache-Control": {
                "description": "Kept a day, and usable stale for a week while a fresh copy is fetched: a published day is written whole and never rewritten, so an answer naming one cannot change.",
                "schema": {
                  "type": "string"
                },
                "example": "public, max-age=86400, stale-while-revalidate=604800, stale-if-error=604800"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "rows"
                      ],
                      "properties": {
                        "rows": {
                          "type": "array",
                          "description": "One object per row. An empty list is an answer: the question was asked and nothing matched.",
                          "items": {
                            "type": "object",
                            "required": [
                              "node_type",
                              "count",
                              "entities",
                              "facts"
                            ],
                            "properties": {
                              "node_type": {
                                "type": "string"
                              },
                              "count": {
                                "type": "integer",
                                "minimum": 0,
                                "description": "How many nodes of this type the day holds."
                              },
                              "entities": {
                                "type": "integer",
                                "minimum": 0,
                                "description": "How many of them carry text, and so can be found by name. 0 for a type that carries none, such as a market quote."
                              },
                              "facts": {
                                "type": "integer",
                                "minimum": 0,
                                "description": "How many values are held about them, one per value."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "rows": [
                      {
                        "node_type": "market_quotes_OptionSnapshot",
                        "count": 9603436,
                        "entities": 0,
                        "facts": 0
                      },
                      {
                        "node_type": "market_quotes_EquitySnapshot",
                        "count": 9481,
                        "entities": 0,
                        "facts": 0
                      },
                      {
                        "node_type": "ximpim_PercentChange",
                        "count": 9336,
                        "entities": 0,
                        "facts": 18672
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Day is missing, or a value is not one the path takes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "required": {
                    "summary": "A missing Day",
                    "value": {
                      "report": {
                        "error": "Day is required for NodeTypes"
                      }
                    }
                  },
                  "limit": {
                    "summary": "A Limit that is not a whole number from 1 to 1000",
                    "value": {
                      "report": {
                        "error": "Limit NOT valid, expected a whole number of rows"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "A named Day that has not finished publishing, or no published day at all.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "unpublished": {
                    "summary": "A Day the tables do not hold",
                    "value": {
                      "report": {
                        "error": "Day is not a published day"
                      }
                    }
                  },
                  "nothing": {
                    "summary": "No day has finished publishing",
                    "value": {
                      "report": {
                        "error": "no published day is complete"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The question could not be answered.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "query failed"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-graph/tables/edge-types": {
      "get": {
        "operationId": "listKnowledgeGraphEdgeTypes",
        "summary": "The relation catalog",
        "description": "Which links exist between which node types, how many of each, and whether each was published by a source or derived here. With a Day, that day's catalog, each edge type once: about 838 rows, so a Limit of 1000 is the whole of it. Without one, every day in the window, where an edge type comes back once for each day that holds it.",
        "parameters": [
          {
            "name": "Day",
            "in": "query",
            "required": false,
            "description": "A published day, as YYYY-MM-DD. Narrows the answer to that day, where each edge type appears once.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
            },
            "example": "2026-09-23"
          },
          {
            "name": "Limit",
            "in": "query",
            "required": false,
            "description": "The most rows to answer with: 100 when it is left out, and 1000 at most. A larger value is refused with a 400 rather than cut to the ceiling.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            },
            "example": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "The edge types, biggest count first.",
            "headers": {
              "Cache-Control": {
                "description": "Kept a day, and usable stale for a week, when a Day is named -- a published day never changes. Five minutes, public, max-age=300, when none is: the answer reads the newest days, which a landing day changes.",
                "schema": {
                  "type": "string"
                },
                "example": "public, max-age=86400, stale-while-revalidate=604800, stale-if-error=604800"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "rows"
                      ],
                      "properties": {
                        "rows": {
                          "type": "array",
                          "description": "One object per row. An empty list is an answer: the question was asked and nothing matched.",
                          "items": {
                            "type": "object",
                            "required": [
                              "src_type",
                              "relation",
                              "dst_type",
                              "count",
                              "origin"
                            ],
                            "properties": {
                              "src_type": {
                                "type": "string"
                              },
                              "relation": {
                                "type": "string"
                              },
                              "dst_type": {
                                "type": "string"
                              },
                              "count": {
                                "type": "integer",
                                "minimum": 0,
                                "description": "How many edges of this type."
                              },
                              "predicate_uri": {
                                "type": "string"
                              },
                              "origin": {
                                "type": "string",
                                "description": "raw, enrichment or unification."
                              },
                              "relation_group": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "rows": [
                      {
                        "src_type": "market_quotes_OptionSnapshot",
                        "relation": "bls_enrichment_observedInPeriod",
                        "dst_type": "temporal_SourceDay",
                        "count": 9603436,
                        "predicate_uri": "https://jefflevesque.com/ontology/bls/enrichment/observedInPeriod",
                        "origin": "enrichment",
                        "relation_group": "bls_enrichment_observedInPeriod"
                      },
                      {
                        "src_type": "market_quotes_OptionSnapshot",
                        "relation": "market_enrichment_hasMoneyness",
                        "dst_type": "market_enrichment_Moneyness",
                        "count": 9603436,
                        "predicate_uri": "https://jefflevesque.com/ontology/market/enrichment/hasMoneyness",
                        "origin": "enrichment",
                        "relation_group": "market_enrichment_hasMoneyness"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "A value the path does not take.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "required": {
                    "summary": "A value the path does not take",
                    "value": {
                      "report": {
                        "error": "query string NOT supported for EdgeTypes, expected Day, Limit"
                      }
                    }
                  },
                  "limit": {
                    "summary": "A Limit that is not a whole number from 1 to 1000",
                    "value": {
                      "report": {
                        "error": "Limit NOT valid, expected a whole number of rows"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "A named Day that has not finished publishing, or no published day at all.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "unpublished": {
                    "summary": "A Day the tables do not hold",
                    "value": {
                      "report": {
                        "error": "Day is not a published day"
                      }
                    }
                  },
                  "nothing": {
                    "summary": "No day has finished publishing",
                    "value": {
                      "report": {
                        "error": "no published day is complete"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The question could not be answered.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "query failed"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-graph/tables/find": {
      "get": {
        "operationId": "findKnowledgeGraphEntities",
        "summary": "Entities matching some text",
        "description": "Entities whose text contains Text, case-insensitively -- the first step of a retrieval walk, which gives the Uri the rest take. With a Day, that day's entities, each once. Without one, every day in the window, where an entity comes back once for each day that holds it.",
        "parameters": [
          {
            "name": "Text",
            "in": "query",
            "required": true,
            "description": "The text to look for, matched as a substring. Up to 128 characters, with no wildcard of its own: % and _ are refused.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "example": "nvidia"
          },
          {
            "name": "Day",
            "in": "query",
            "required": false,
            "description": "A published day, as YYYY-MM-DD. Narrows the answer to that day, where each entity appears once.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
            },
            "example": "2026-09-23"
          },
          {
            "name": "Limit",
            "in": "query",
            "required": false,
            "description": "The most rows to answer with: 100 when it is left out, and 1000 at most. A larger value is refused with a 400 rather than cut to the ceiling.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "The matching entities, shortest text first.",
            "headers": {
              "Cache-Control": {
                "description": "Kept a day, and usable stale for a week, when a Day is named -- a published day never changes. Five minutes, public, max-age=300, when none is: the answer reads the newest days, which a landing day changes.",
                "schema": {
                  "type": "string"
                },
                "example": "public, max-age=86400, stale-while-revalidate=604800, stale-if-error=604800"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "rows"
                      ],
                      "properties": {
                        "rows": {
                          "type": "array",
                          "description": "One object per row. An empty list is an answer: the question was asked and nothing matched.",
                          "items": {
                            "type": "object",
                            "required": [
                              "node_type",
                              "uri",
                              "text"
                            ],
                            "properties": {
                              "node_type": {
                                "type": "string"
                              },
                              "uri": {
                                "type": "string",
                                "description": "The entity, to give Facts or Neighborhood."
                              },
                              "text": {
                                "type": "string",
                                "description": "Its text-bearing values, joined."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "rows": [
                      {
                        "node_type": "filings_Issuer",
                        "uri": "https://jefflevesque.com/id/sec/filings/Issuer_0001045810",
                        "text": "filings_hasIssuerName: NVIDIA CORP"
                      },
                      {
                        "node_type": "filings_InstitutionalHolding",
                        "uri": "https://jefflevesque.com/id/sec/filings/0001218761-26-000014_InstitutionalHolding_23",
                        "text": "filings_hasIssuerName: NVIDIA CORPORATION; filings_hasTitleOfClass: COM"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Text is missing or carries a wildcard, or a value is not one the path takes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "required": {
                    "summary": "A missing Text",
                    "value": {
                      "report": {
                        "error": "Text is required for Find"
                      }
                    }
                  },
                  "limit": {
                    "summary": "A Limit that is not a whole number from 1 to 1000",
                    "value": {
                      "report": {
                        "error": "Limit NOT valid, expected a whole number of rows"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "A named Day that has not finished publishing, or no published day at all.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "unpublished": {
                    "summary": "A Day the tables do not hold",
                    "value": {
                      "report": {
                        "error": "Day is not a published day"
                      }
                    }
                  },
                  "nothing": {
                    "summary": "No day has finished publishing",
                    "value": {
                      "report": {
                        "error": "no published day is complete"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The question could not be answered.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "query failed"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-graph/tables/facts": {
      "get": {
        "operationId": "listKnowledgeGraphFacts",
        "summary": "The values held about one entity",
        "description": "Every value held about one entity, one row per value. With a Day, that day's. Without one, the newest day in the window that holds the entity.",
        "parameters": [
          {
            "name": "Uri",
            "in": "query",
            "required": true,
            "description": "The entity, as its uri from Entities matching some text. Uris are stable across days, unlike the numeric ids the tables join on.",
            "schema": {
              "type": "string"
            },
            "example": "https://jefflevesque.com/id/sec/filings/Issuer_0001045810"
          },
          {
            "name": "Day",
            "in": "query",
            "required": false,
            "description": "A published day, as YYYY-MM-DD. Without one, the answer reads across the published window.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
            },
            "example": "2026-09-23"
          },
          {
            "name": "Limit",
            "in": "query",
            "required": false,
            "description": "The most rows to answer with: 100 when it is left out, and 1000 at most. A larger value is refused with a 400 rather than cut to the ceiling.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "The values, one row each.",
            "headers": {
              "Cache-Control": {
                "description": "Kept a day, and usable stale for a week, when a Day is named -- a published day never changes. Five minutes, public, max-age=300, when none is: the answer reads the newest days, which a landing day changes.",
                "schema": {
                  "type": "string"
                },
                "example": "public, max-age=86400, stale-while-revalidate=604800, stale-if-error=604800"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "rows"
                      ],
                      "properties": {
                        "rows": {
                          "type": "array",
                          "description": "One object per row. An empty list is an answer: the question was asked and nothing matched.",
                          "items": {
                            "type": "object",
                            "required": [
                              "node_type",
                              "uri",
                              "predicate",
                              "predicate_name",
                              "value",
                              "is_numeric"
                            ],
                            "properties": {
                              "node_type": {
                                "type": "string"
                              },
                              "uri": {
                                "type": "string"
                              },
                              "predicate": {
                                "type": "string",
                                "description": "The property, as its full uri."
                              },
                              "predicate_name": {
                                "type": "string",
                                "description": "The property's short name."
                              },
                              "value": {
                                "type": "string",
                                "description": "The value, as text."
                              },
                              "is_numeric": {
                                "type": "boolean",
                                "description": "Whether the value reads as a finite number."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "rows": [
                      {
                        "node_type": "filings_Issuer",
                        "uri": "https://jefflevesque.com/id/sec/filings/Issuer_0001045810",
                        "predicate": "https://jefflevesque.com/ontology/sec/filings/hasIssuerCik",
                        "predicate_name": "filings_hasIssuerCik",
                        "value": "0001045810",
                        "is_numeric": true
                      },
                      {
                        "node_type": "filings_Issuer",
                        "uri": "https://jefflevesque.com/id/sec/filings/Issuer_0001045810",
                        "predicate": "https://jefflevesque.com/ontology/sec/filings/hasIssuerName",
                        "predicate_name": "filings_hasIssuerName",
                        "value": "NVIDIA CORP",
                        "is_numeric": false
                      },
                      {
                        "node_type": "filings_Issuer",
                        "uri": "https://jefflevesque.com/id/sec/filings/Issuer_0001045810",
                        "predicate": "https://jefflevesque.com/ontology/sec/filings/hasIssuerSic",
                        "predicate_name": "filings_hasIssuerSic",
                        "value": "3674",
                        "is_numeric": true
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Uri is missing or not shaped like one, or a value is not one the path takes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "required": {
                    "summary": "A missing Uri",
                    "value": {
                      "report": {
                        "error": "Uri is required for Facts"
                      }
                    }
                  },
                  "limit": {
                    "summary": "A Limit that is not a whole number from 1 to 1000",
                    "value": {
                      "report": {
                        "error": "Limit NOT valid, expected a whole number of rows"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "A named Day that has not finished publishing, or no published day at all.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "unpublished": {
                    "summary": "A Day the tables do not hold",
                    "value": {
                      "report": {
                        "error": "Day is not a published day"
                      }
                    }
                  },
                  "nothing": {
                    "summary": "No day has finished publishing",
                    "value": {
                      "report": {
                        "error": "no published day is complete"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The question could not be answered.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "query failed"
                  }
                }
              }
            }
          },
          "504": {
            "description": "The question was too large to answer inside the request window. Name a Day, or a smaller Limit.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "query did not finish in time, narrow it"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-graph/tables/neighborhood": {
      "get": {
        "operationId": "listKnowledgeGraphNeighborhood",
        "summary": "The edges touching one entity, within a day",
        "description": "Every edge to or from one entity on one day, with the entity at its other end. Day is required: the numeric ids the tables join on are renumbered daily, so an edge only means anything joined within its own day. Rows currently also carry two columns, api and type, read from where the answer was stored rather than asked for; they are not part of the answer.",
        "parameters": [
          {
            "name": "Uri",
            "in": "query",
            "required": true,
            "description": "The entity, as its uri from Entities matching some text.",
            "schema": {
              "type": "string"
            },
            "example": "https://jefflevesque.com/id/sec/filings/Issuer_0001045810"
          },
          {
            "name": "Day",
            "in": "query",
            "required": true,
            "description": "The published day to walk, as YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
            },
            "example": "2026-09-23"
          },
          {
            "name": "Limit",
            "in": "query",
            "required": false,
            "description": "The most rows to answer with: 100 when it is left out, and 1000 at most. A larger value is refused with a 400 rather than cut to the ceiling.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "The edges touching the entity that day.",
            "headers": {
              "Cache-Control": {
                "description": "Kept a day, and usable stale for a week while a fresh copy is fetched: a published day is written whole and never rewritten, so an answer naming one cannot change.",
                "schema": {
                  "type": "string"
                },
                "example": "public, max-age=86400, stale-while-revalidate=604800, stale-if-error=604800"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "rows"
                      ],
                      "properties": {
                        "rows": {
                          "type": "array",
                          "description": "One object per row. An empty list is an answer: the question was asked and nothing matched.",
                          "items": {
                            "type": "object",
                            "required": [
                              "src_uri",
                              "relation",
                              "dst_uri",
                              "src_type",
                              "dst_type"
                            ],
                            "properties": {
                              "src_uri": {
                                "type": "string"
                              },
                              "relation": {
                                "type": "string"
                              },
                              "dst_uri": {
                                "type": "string"
                              },
                              "src_type": {
                                "type": "string"
                              },
                              "dst_type": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "rows": [
                      {
                        "src_uri": "https://jefflevesque.com/id/sec/filings/0001696841-26-000014_Filing",
                        "relation": "filings_hasIssuer",
                        "dst_uri": "https://jefflevesque.com/id/sec/filings/Issuer_0001045810",
                        "src_type": "filings_SECFiling",
                        "dst_type": "filings_Issuer",
                        "api": "knowledge-graph-tables",
                        "type": "output"
                      },
                      {
                        "src_uri": "https://jefflevesque.com/id/sec/filings/Issuer_0001045810",
                        "relation": "bls_enrichment_refersToCompany",
                        "dst_uri": "https://jefflevesque.com/ontology/unified/Company_0001045810",
                        "src_type": "filings_Issuer",
                        "dst_type": "sec_enrichment_UnifiedCompany",
                        "api": "knowledge-graph-tables",
                        "type": "output"
                      },
                      {
                        "src_uri": "https://jefflevesque.com/id/sec/filings/Issuer_0001045810",
                        "relation": "filings_hasIndustrySector",
                        "dst_uri": "https://jefflevesque.com/id/sec/filings/IndustrySector_office-of-manufacturing",
                        "src_type": "filings_Issuer",
                        "dst_type": "filings_IndustrySector",
                        "api": "knowledge-graph-tables",
                        "type": "output"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Uri or Day is missing, or a value is not one the path takes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "required": {
                    "summary": "A missing Day",
                    "value": {
                      "report": {
                        "error": "Day is required for Neighborhood"
                      }
                    }
                  },
                  "limit": {
                    "summary": "A Limit that is not a whole number from 1 to 1000",
                    "value": {
                      "report": {
                        "error": "Limit NOT valid, expected a whole number of rows"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "A named Day that has not finished publishing, or no published day at all.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "unpublished": {
                    "summary": "A Day the tables do not hold",
                    "value": {
                      "report": {
                        "error": "Day is not a published day"
                      }
                    }
                  },
                  "nothing": {
                    "summary": "No day has finished publishing",
                    "value": {
                      "report": {
                        "error": "no published day is complete"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The question could not be answered.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "query failed"
                  }
                }
              }
            }
          },
          "504": {
            "description": "The question was too large to answer inside the request window. Name a Day, or a smaller Limit.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "query did not finish in time, narrow it"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-graph/tables/quotes": {
      "get": {
        "operationId": "listKnowledgeGraphQuotes",
        "summary": "One stock's quotes through a day",
        "description": "One stock's snapshots on one day, oldest first -- about 19, every 20 minutes from 9:40 AM to 3:40 PM Eastern. Stocks only: an option on the same ticker is not a quote of the stock. The columns are named as the tables name them.",
        "parameters": [
          {
            "name": "Symbol",
            "in": "query",
            "required": true,
            "description": "The stock's ticker, in capitals: letters, digits and the . of a share class, such as BRK.B. Compared for equality, never matched.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z][A-Z0-9.]{0,15}$"
            },
            "example": "NVDA"
          },
          {
            "name": "Day",
            "in": "query",
            "required": true,
            "description": "The published day, as YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
            },
            "example": "2026-09-23"
          },
          {
            "name": "Limit",
            "in": "query",
            "required": false,
            "description": "The most rows to answer with: 100 when it is left out, and 1000 at most. A larger value is refused with a 400 rather than cut to the ceiling.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            },
            "example": 19
          }
        ],
        "responses": {
          "200": {
            "description": "The stock's snapshots that day, oldest first.",
            "headers": {
              "Cache-Control": {
                "description": "Kept a day, and usable stale for a week while a fresh copy is fetched: a published day is written whole and never rewritten, so an answer naming one cannot change.",
                "schema": {
                  "type": "string"
                },
                "example": "public, max-age=86400, stale-while-revalidate=604800, stale-if-error=604800"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "rows"
                      ],
                      "properties": {
                        "rows": {
                          "type": "array",
                          "description": "One object per row. An empty list is an answer: the question was asked and nothing matched.",
                          "items": {
                            "type": "object",
                            "required": [
                              "market_quotes_symbol",
                              "market_quotes_captureTime",
                              "market_quotes_lastPrice",
                              "market_quotes_openPrice",
                              "market_quotes_closePrice",
                              "market_quotes_netChange",
                              "market_quotes_netPercentChange",
                              "market_quotes_totalVolume"
                            ],
                            "properties": {
                              "market_quotes_symbol": {
                                "type": "string",
                                "description": "The stock's ticker."
                              },
                              "market_quotes_captureTime": {
                                "type": "string",
                                "description": "When the snapshot was taken, ISO-8601 in UTC."
                              },
                              "market_quotes_lastPrice": {
                                "type": [
                                  "number",
                                  "null"
                                ],
                                "description": "The last trade's price."
                              },
                              "market_quotes_openPrice": {
                                "type": [
                                  "number",
                                  "null"
                                ],
                                "description": "The session's opening price."
                              },
                              "market_quotes_closePrice": {
                                "type": [
                                  "number",
                                  "null"
                                ],
                                "description": "The PREVIOUS session's close, which the two changes are measured from."
                              },
                              "market_quotes_netChange": {
                                "type": [
                                  "number",
                                  "null"
                                ],
                                "description": "lastPrice less the previous close."
                              },
                              "market_quotes_netPercentChange": {
                                "type": [
                                  "number",
                                  "null"
                                ],
                                "description": "The same, as a percentage of the previous close."
                              },
                              "market_quotes_totalVolume": {
                                "type": [
                                  "number",
                                  "null"
                                ],
                                "description": "Shares traded in the session so far."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "rows": [
                      {
                        "market_quotes_symbol": "NVDA",
                        "market_quotes_captureTime": "2026-09-23T13:40:40.122Z",
                        "market_quotes_lastPrice": 228.1701,
                        "market_quotes_openPrice": 228.03,
                        "market_quotes_closePrice": 228.87,
                        "market_quotes_netChange": -0.6999,
                        "market_quotes_netPercentChange": -0.30580679,
                        "market_quotes_totalVolume": 9951415.0
                      },
                      {
                        "market_quotes_symbol": "NVDA",
                        "market_quotes_captureTime": "2026-09-23T14:00:40.106Z",
                        "market_quotes_lastPrice": 226.787,
                        "market_quotes_openPrice": 228.03,
                        "market_quotes_closePrice": 228.87,
                        "market_quotes_netChange": -2.083,
                        "market_quotes_netPercentChange": -0.91012365,
                        "market_quotes_totalVolume": 14602557.0
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Symbol or Day is missing, the Symbol is not a ticker in capitals, or a value is not one the path takes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "required": {
                    "summary": "A missing Symbol",
                    "value": {
                      "report": {
                        "error": "Symbol is required for Quotes"
                      }
                    }
                  },
                  "limit": {
                    "summary": "A Limit that is not a whole number from 1 to 1000",
                    "value": {
                      "report": {
                        "error": "Limit NOT valid, expected a whole number of rows"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "A named Day that has not finished publishing, or no published day at all.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "unpublished": {
                    "summary": "A Day the tables do not hold",
                    "value": {
                      "report": {
                        "error": "Day is not a published day"
                      }
                    }
                  },
                  "nothing": {
                    "summary": "No day has finished publishing",
                    "value": {
                      "report": {
                        "error": "no published day is complete"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The question could not be answered.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "query failed"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-graph/tables/last-quotes": {
      "get": {
        "operationId": "listKnowledgeGraphLastQuotes",
        "summary": "Every stock's last quote of a day",
        "description": "Each stock's last snapshot that day, one row per stock in symbol order -- about 500, under the 1000 ceiling. Its netPercentChange is the day's move against the previous close, opening gap included, and each row is the last row Quotes answers for that stock and day.",
        "parameters": [
          {
            "name": "Day",
            "in": "query",
            "required": true,
            "description": "The published day, as YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
            },
            "example": "2026-09-23"
          },
          {
            "name": "Limit",
            "in": "query",
            "required": false,
            "description": "The most rows to answer with: 100 when it is left out, and 1000 at most. A larger value is refused with a 400 rather than cut to the ceiling.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            },
            "example": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "Every stock's last snapshot that day, in symbol order.",
            "headers": {
              "Cache-Control": {
                "description": "Kept a day, and usable stale for a week while a fresh copy is fetched: a published day is written whole and never rewritten, so an answer naming one cannot change.",
                "schema": {
                  "type": "string"
                },
                "example": "public, max-age=86400, stale-while-revalidate=604800, stale-if-error=604800"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "rows"
                      ],
                      "properties": {
                        "rows": {
                          "type": "array",
                          "description": "One object per row. An empty list is an answer: the question was asked and nothing matched.",
                          "items": {
                            "type": "object",
                            "required": [
                              "market_quotes_symbol",
                              "market_quotes_captureTime",
                              "market_quotes_lastPrice",
                              "market_quotes_openPrice",
                              "market_quotes_closePrice",
                              "market_quotes_netChange",
                              "market_quotes_netPercentChange",
                              "market_quotes_totalVolume"
                            ],
                            "properties": {
                              "market_quotes_symbol": {
                                "type": "string",
                                "description": "The stock's ticker."
                              },
                              "market_quotes_captureTime": {
                                "type": "string",
                                "description": "When the snapshot was taken, ISO-8601 in UTC."
                              },
                              "market_quotes_lastPrice": {
                                "type": [
                                  "number",
                                  "null"
                                ],
                                "description": "The last trade's price."
                              },
                              "market_quotes_openPrice": {
                                "type": [
                                  "number",
                                  "null"
                                ],
                                "description": "The session's opening price."
                              },
                              "market_quotes_closePrice": {
                                "type": [
                                  "number",
                                  "null"
                                ],
                                "description": "The PREVIOUS session's close, which the two changes are measured from."
                              },
                              "market_quotes_netChange": {
                                "type": [
                                  "number",
                                  "null"
                                ],
                                "description": "lastPrice less the previous close."
                              },
                              "market_quotes_netPercentChange": {
                                "type": [
                                  "number",
                                  "null"
                                ],
                                "description": "The same, as a percentage of the previous close."
                              },
                              "market_quotes_totalVolume": {
                                "type": [
                                  "number",
                                  "null"
                                ],
                                "description": "Shares traded in the session so far."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "rows": [
                      {
                        "market_quotes_symbol": "A",
                        "market_quotes_captureTime": "2026-09-23T19:40:40.084Z",
                        "market_quotes_lastPrice": 163.96,
                        "market_quotes_openPrice": 166.54,
                        "market_quotes_closePrice": 167.26,
                        "market_quotes_netChange": -3.3,
                        "market_quotes_netPercentChange": -1.9729762,
                        "market_quotes_totalVolume": 2086271.0
                      },
                      {
                        "market_quotes_symbol": "AAPL",
                        "market_quotes_captureTime": "2026-09-23T19:40:40.084Z",
                        "market_quotes_lastPrice": 336.6,
                        "market_quotes_openPrice": 341.075,
                        "market_quotes_closePrice": 339.75,
                        "market_quotes_netChange": -3.15,
                        "market_quotes_netPercentChange": -0.92715232,
                        "market_quotes_totalVolume": 19479582.0
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Day is missing, or a value is not one the path takes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "required": {
                    "summary": "A missing Day",
                    "value": {
                      "report": {
                        "error": "Day is required for LastQuotes"
                      }
                    }
                  },
                  "limit": {
                    "summary": "A Limit that is not a whole number from 1 to 1000",
                    "value": {
                      "report": {
                        "error": "Limit NOT valid, expected a whole number of rows"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "A named Day that has not finished publishing, or no published day at all.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "unpublished": {
                    "summary": "A Day the tables do not hold",
                    "value": {
                      "report": {
                        "error": "Day is not a published day"
                      }
                    }
                  },
                  "nothing": {
                    "summary": "No day has finished publishing",
                    "value": {
                      "report": {
                        "error": "no published day is complete"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The question could not be answered.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "error": "query failed"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
