{
  "openapi": "3.1.0",
  "info": {
    "title": "Performance",
    "version": "v1",
    "description": "How much one ingest stream took in, and how much of it succeeded, bucketed over a trailing window: one ending now, or one ending at an earlier End. Read by the /stream page.\n\n**The archive.** The same measurement is also published as csv, one file per year or per month, served by the website. `/performance/archive` lists every file each stream has published, with the url it is served from, so where a stream's files are filed never has to be known or guessed. `/performance/archive/{stream}/{year}` and `/performance/archive/{stream}/{year}/{month}` redirect to one of them, and answer 404 for a file the listing does not name. The listing is what each stream's alarm page reads."
  },
  "servers": [
    {
      "url": "https://api.jefflevesque.com/v1/public"
    }
  ],
  "paths": {
    "/performance": {
      "get": {
        "operationId": "getPerformance",
        "summary": "One stream's ingest over its trailing window",
        "description": "The window trails from now, and its length depends on the interval: shorter buckets cover a shorter span. Buckets are laid out on the calendar of the given time zone, so the same request made from two zones can return different dates. End moves it back: the window is then the one the api would give if now were End -- its last bucket is the one holding End, and it reaches back as far as ever. A window that has ended is kept by a cache for a day.",
        "parameters": [
          {
            "name": "Stream",
            "in": "query",
            "required": true,
            "description": "The stream to report on, by its id. The names three of them went by before -- stockmarket, stockmarketstocksplit and usnationalweather -- are still accepted for now.",
            "schema": {
              "type": "string",
              "enum": [
                "bls",
                "sec",
                "stock-market",
                "stock-split",
                "us-national-weather"
              ]
            },
            "example": "stock-market"
          },
          {
            "name": "Interval",
            "in": "query",
            "required": false,
            "description": "The width of each bucket in the report.",
            "schema": {
              "type": "string",
              "enum": [
                "minute",
                "hour",
                "day",
                "month"
              ],
              "default": "minute"
            },
            "example": "day"
          },
          {
            "name": "Timezone",
            "in": "query",
            "required": false,
            "description": "An IANA time zone. Bucket boundaries, and the window's dates, are measured on its calendar.",
            "schema": {
              "type": "string",
              "default": "UTC"
            },
            "example": "America/New_York"
          },
          {
            "name": "End",
            "in": "query",
            "required": false,
            "description": "Move the window back from now. An ISO 8601 date-time with a UTC offset or Z; the window's last bucket is the one holding it, in Timezone. Omitted, or later than now, it is now. A date alone, or a date-time with no offset, is a 400, as is End without Stream. Send a + offset as %2B. A weekday-only stream, such as stock-market, holds no rows for a weekend.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-09-17T23:00:00-04:00"
          }
        ],
        "responses": {
          "200": {
            "description": "The report: a CSV string with one row per source and bucket, or null when the window holds no rows.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "CSV with a header row: group_by, window_start, total_success, total_success_mean, total_success_max, total_fail, total_fail_mean, total_fail_max."
                    }
                  }
                },
                "examples": {
                  "now": {
                    "summary": "A window ending now, by the day",
                    "value": {
                      "report": "group_by,window_start,total_success,total_success_mean,total_success_max,total_fail,total_fail_mean,total_fail_max\nprice,2026-09-03 12:00:00-0400,9481,19.0,19,0,0.0,0\nprice,2026-09-04 12:00:00-0400,9481,19.0,19,0,0.0,0\n"
                    }
                  },
                  "earlier": {
                    "summary": "An earlier window: Sep 17, 2026 by the hour, from Interval=hour and End=2026-09-17T23:00:00-04:00",
                    "value": {
                      "report": "group_by,window_start,total_success,total_success_mean,total_success_max,total_fail,total_fail_mean,total_fail_max\noptions,2026-09-17 09:00:00-0400,529618,1061.3587174348697,6966,0,0.0,0\noptions,2026-09-17 10:00:00-0400,1588854,1061.3587174348697,6966,0,0.0,0\noptions,2026-09-17 11:00:00-0400,1588854,1061.3587174348697,6966,0,0.0,0\noptions,2026-09-17 12:00:00-0400,1588854,1061.3587174348697,6966,0,0.0,0\noptions,2026-09-17 13:00:00-0400,1588854,1061.3587174348697,6966,0,0.0,0\noptions,2026-09-17 14:00:00-0400,1588854,1061.3587174348697,6966,0,0.0,0\noptions,2026-09-17 15:00:00-0400,1588854,1061.3587174348697,6966,0,0.0,0\nprice,2026-09-17 09:00:00-0400,499,1.0,1,0,0.0,0\nprice,2026-09-17 10:00:00-0400,1497,1.0,1,0,0.0,0\nprice,2026-09-17 11:00:00-0400,1497,1.0,1,0,0.0,0\nprice,2026-09-17 12:00:00-0400,1497,1.0,1,0,0.0,0\nprice,2026-09-17 13:00:00-0400,1497,1.0,1,0,0.0,0\nprice,2026-09-17 14:00:00-0400,1497,1.0,1,0,0.0,0\nprice,2026-09-17 15:00:00-0400,1497,1.0,1,0,0.0,0\n"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A parameter was not accepted. The report says which.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "unknown stream": {
                    "value": {
                      "report": "Stream=nope NOT recognized, expected one of bls, sec, stock-market, stock-split, us-national-weather"
                    }
                  },
                  "missing parameters": {
                    "value": {
                      "report": "invalid body provided"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "No data could be read for the stream.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "null"
                    }
                  }
                },
                "example": {
                  "report": null
                }
              }
            }
          }
        }
      }
    },
    "/performance/archive": {
      "get": {
        "operationId": "getPerformanceArchive",
        "summary": "Every file each stream has published",
        "description": "One request answers for every stream. `streams` names each stream this api carries, whether or not it has published anything, so one with no entries in `archives` has published nothing. Each entry carries the url its file is served from. Browsers may keep the answer for five minutes.",
        "responses": {
          "200": {
            "description": "The listing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "object",
                      "required": [
                        "streams",
                        "archives"
                      ],
                      "properties": {
                        "streams": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "bls",
                              "sec",
                              "stock-market",
                              "stock-split",
                              "us-national-weather"
                            ]
                          },
                          "description": "Every stream this api carries, by its id."
                        },
                        "archives": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "stream",
                              "period",
                              "id",
                              "url",
                              "bytes",
                              "modified"
                            ],
                            "properties": {
                              "stream": {
                                "type": "string",
                                "enum": [
                                  "bls",
                                  "sec",
                                  "stock-market",
                                  "stock-split",
                                  "us-national-weather"
                                ],
                                "description": "The stream, by the same id the report's Stream takes."
                              },
                              "period": {
                                "type": "string",
                                "pattern": "^[0-9]{4}(-[0-9]{2})?$",
                                "description": "The period the file is for: yyyy for a year's file, yyyy-mm for a month's."
                              },
                              "id": {
                                "type": "string",
                                "pattern": "^[a-z-]+/[0-9]{4}(/[0-9]{2})?$",
                                "description": "stream/yyyy or stream/yyyy/mm: the path below /performance/archive that redirects to this file."
                              },
                              "url": {
                                "type": "string",
                                "description": "Where the file is served from: the website's own origin, so a page linking it can download it."
                              },
                              "bytes": {
                                "type": "integer",
                                "minimum": 0,
                                "description": "The file's size."
                              },
                              "modified": {
                                "type": "string",
                                "description": "When the file was last written. A name says which period a file is for, not how much of it the file holds."
                              }
                            }
                          },
                          "description": "Every published file, grouped by stream, each stream's oldest first."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "report": {
                    "streams": [
                      "bls",
                      "sec",
                      "stock-market",
                      "stock-split",
                      "us-national-weather"
                    ],
                    "archives": [
                      {
                        "stream": "bls",
                        "period": "2024",
                        "id": "bls/2024",
                        "url": "https://www.jefflevesque.com/artifact/performance/ingest/article/bls/2024.csv",
                        "bytes": 3242,
                        "modified": "2024-03-15T20:35:25+00:00"
                      },
                      {
                        "stream": "sec",
                        "period": "2025-09",
                        "id": "sec/2025/09",
                        "url": "https://www.jefflevesque.com/artifact/performance/ingest/article/sec/2025/09.csv",
                        "bytes": 2158564,
                        "modified": "2025-09-27T02:01:33+00:00"
                      },
                      {
                        "stream": "stock-market",
                        "period": "2025",
                        "id": "stock-market/2025",
                        "url": "https://www.jefflevesque.com/artifact/performance/ingest/stock-market/2025.csv",
                        "bytes": 13730477,
                        "modified": "2025-12-31T21:04:53+00:00"
                      },
                      {
                        "stream": "stock-split",
                        "period": "2026",
                        "id": "stock-split/2026",
                        "url": "https://www.jefflevesque.com/artifact/performance/ingest/stock-split/2026.csv",
                        "bytes": 74820,
                        "modified": "2026-09-21T04:01:43+00:00"
                      },
                      {
                        "stream": "us-national-weather",
                        "period": "2025-07",
                        "id": "us-national-weather/2025/07",
                        "url": "https://www.jefflevesque.com/artifact/performance/ingest/article/weather/2025/07.csv",
                        "bytes": 1102308,
                        "modified": "2025-07-21T22:22:43+00:00"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "A query string was sent. No archive route takes one.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "report": "query string NOT supported on archive paths"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "The archive could not be listed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "report": "archive NOT available"
                }
              }
            }
          }
        }
      }
    },
    "/performance/archive/{stream}/{year}": {
      "get": {
        "operationId": "getPerformanceArchiveYear",
        "summary": "One stream's file for a year",
        "description": "Redirects to the file when the listing names it. The redirect is the answer rather than the file itself: a year of the stock market archive is about 14MB, more than one response of this api may carry. Browsers may keep a redirect for five minutes.\n\n**Try it out** reports a network error for a file that is listed. The browser follows the redirect to the website, and the website does not let this page read what it answers. The url is the one `Location` and `report` carry, and the one the listing gives. A file that is not listed answers 404 here as documented.",
        "parameters": [
          {
            "name": "stream",
            "in": "path",
            "required": true,
            "description": "The stream, by the same id the report's Stream takes -- not the folder its files are filed under.",
            "schema": {
              "type": "string",
              "enum": [
                "bls",
                "sec",
                "stock-market",
                "stock-split",
                "us-national-weather"
              ]
            },
            "example": "stock-market"
          },
          {
            "name": "year",
            "in": "path",
            "required": true,
            "description": "The year, four digits.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}$"
            },
            "example": "2025"
          }
        ],
        "responses": {
          "302": {
            "description": "The file is published. `Location`, and `report`, give the url it is served from.",
            "headers": {
              "Location": {
                "description": "The url the file is served from.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "report": "https://www.jefflevesque.com/artifact/performance/ingest/stock-market/2025.csv"
                }
              }
            }
          },
          "400": {
            "description": "A query string was sent. No archive route takes one.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "report": "query string NOT supported on archive paths"
                }
              }
            }
          },
          "404": {
            "description": "The listing names no such file.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "report": "archive stock-market/2027 NOT in the listing"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "The archive could not be listed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "report": "archive NOT available"
                }
              }
            }
          }
        }
      }
    },
    "/performance/archive/{stream}/{year}/{month}": {
      "get": {
        "operationId": "getPerformanceArchiveMonth",
        "summary": "One stream's file for a month",
        "description": "Redirects to the file when the listing names it. The redirect is the answer rather than the file itself: a year of the stock market archive is about 14MB, more than one response of this api may carry. Browsers may keep a redirect for five minutes.\n\n**Try it out** reports a network error for a file that is listed. The browser follows the redirect to the website, and the website does not let this page read what it answers. The url is the one `Location` and `report` carry, and the one the listing gives. A file that is not listed answers 404 here as documented.",
        "parameters": [
          {
            "name": "stream",
            "in": "path",
            "required": true,
            "description": "The stream, by the same id the report's Stream takes -- not the folder its files are filed under.",
            "schema": {
              "type": "string",
              "enum": [
                "bls",
                "sec",
                "stock-market",
                "stock-split",
                "us-national-weather"
              ]
            },
            "example": "sec"
          },
          {
            "name": "year",
            "in": "path",
            "required": true,
            "description": "The year, four digits.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}$"
            },
            "example": "2025"
          },
          {
            "name": "month",
            "in": "path",
            "required": true,
            "description": "The month, two digits.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{2}$"
            },
            "example": "09"
          }
        ],
        "responses": {
          "302": {
            "description": "The file is published. `Location`, and `report`, give the url it is served from.",
            "headers": {
              "Location": {
                "description": "The url the file is served from.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "report": "https://www.jefflevesque.com/artifact/performance/ingest/article/sec/2025/09.csv"
                }
              }
            }
          },
          "400": {
            "description": "A query string was sent. No archive route takes one.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "report": "query string NOT supported on archive paths"
                }
              }
            }
          },
          "404": {
            "description": "The listing names no such file.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "report": "archive sec/2027/01 NOT in the listing"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "The archive could not be listed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "report": "archive NOT available"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "RateLimited": {
        "description": "Too many requests from this address in a few minutes: today 100 in 5 minutes, and an answer from the cache counts too. Wait for `Retry-After` seconds, then ask again. The report says the limit and the window in force, which can change: read them rather than assume today's.",
        "headers": {
          "Retry-After": {
            "description": "Seconds to wait before asking again: the window the limit is counted over.",
            "schema": {
              "type": "integer"
            },
            "example": 300
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "report"
              ],
              "properties": {
                "report": {
                  "type": "object",
                  "required": [
                    "error",
                    "limit",
                    "window_seconds"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "integer",
                      "description": "How many requests one address may make in the window."
                    },
                    "window_seconds": {
                      "type": "integer",
                      "description": "The window the requests are counted over, in seconds."
                    }
                  }
                }
              }
            },
            "example": {
              "report": {
                "error": "Too many requests from this address. Wait a few minutes, then try again.",
                "limit": 100,
                "window_seconds": 300
              }
            }
          }
        }
      }
    }
  }
}
